$grid-columns: 12; // Set number of columns in the grid

$xs-max: 40rem; // Set xs breakpoint's max width
$sm-max: 64rem; // Set sm breakpoint's max width
$md-max: 90rem; // Set md breakpoint's max width
$lg-max: 120rem; // Set lg breakpoint's max width

$gutter: 1rem; // Set gutter size
